<!DOCTYPE html>
<html lang="en">
  <body>
 
    <div class="container">
      <nav>
        <a href="/logout">Logout</a> |
        <a href="/search">Search</a> |
        <a href="/display_watchlist">Watch List</a>
        <span style="float:right;font-size:20px;">User: {{ username }}</span>
      </nav>
    </div>

    <br><br>
    <div class="container">
      <!--Main drop down-->
      <form action="{{ url_for('handle_search_data') }}" method="POST">
        <label for="movieId">Rate or Add a Movie from Your Watch List <br><br> Movie ID: </label>
        <!-- <label for="movieId">Movie: </label> -->
        <input type="text" name="movieId" id="movieId" class="form-control" placeholder="Enter Numeric ID"  autofocus>
        <br><br>
        <button id="btnAdd" name="btnAdd" class="btn btn-lg btn-primary btn-block form-control" type="submit" value="btnAdd">Add to Watch List</button>
        <!--
        <button id="btnRate" name="btnRate" class="btn btn-lg btn-primary btn-block form-control" type="submit" value="btnRate">Rate</button> 
        <input type="text" name="rating" id="rating" class="form-control" placeholder="Rating 1 - 10"  autofocus>
        -->
        <br><br>
        {{searchlist|safe}}
    </div>
 
  </body>
</html>